.big-screen-layout {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 600px;
}

.big-screen-left-layout {
  flex: 0.2;
  display: flex;
  flex-direction: column;
}

.big-screen-center-layout {
  flex: 0.6;
  padding-left: 10px;
  padding-right: 10px;
}

.big-screen-right-layout {
  flex: 0.2;
}

.big-screen-first-left-layout {
  flex: 1;
  padding-bottom: 5px;
}

.big-screen-second-left-layout {
  flex: 1;
  padding-top: 5px;
}
