.container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header-layout {
  height: 50px;
}

.footer-layout {
  height: 150px;
}

.center-layout {
  flex: 1;
  padding-top: 10px;
  padding-bottom: 10px;
}
